@import "variables";
* {
  margin: 0;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: $font-primary !important;
}

.header {
  background-color: $color-secondary;
  padding: $inner-padding;
  color: $color-primary;
}
.main {
  min-height: 100vh;
  padding: $vertical-padding 0px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    159deg,
    rgba(255, 255, 255, 1) 12%,
    rgba(174, 224, 238, 1) 100%,
    rgba(174, 224, 238, 1) 100%
  );
}
.footer {
  background-color: $color-secondary;
  width: 100%;
  position: absolute;
  padding: $inner-padding * 2 0px;
  bottom: 0;
  left: 0;
}
